.page {
  h3 {
    padding: 10px 0;
  }
}

.container {
  margin: 10px 0;
  padding: 0 10px;
}

.title {
  font-size: 12px;
  font-weight: 600;
  color: #5a6c7d;
}

.text {
  font-size: 16px;
}

.editProfile {
  text-decoration: none;
}