.goods {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .goodsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    margin: 2px;
  }

  .goodsBigItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    margin: 2px;

    img {
      width: 200px;
    }
  }

  .rightBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
}