.type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #eff3f6;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  transition: background-color .25s ease-in;
  min-height: 120px;
  width: 140px;
  margin: 5px;

  text-align: center;

  &:hover {
    background-color: darken(#eff3f6, 10%);
    cursor: pointer;
  }
}

.active {
  background-color: darken(#eff3f6, 10%);
}

.typeImg img {
  width: 50px;
  height: 50px;
}
