.item {
  min-width: 200px;
  margin: 10px;
  transition: transform ease-in-out .3s;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.item:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.title {
  margin: 0;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.favoritesBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  .favoritesBtnLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  &:hover .favoritesBtnIcon {
    color: #d32f2f;
  }
}