@import "styles/reset";

:global {
  html {
    font-size: 62.5%;
  }

  body {
    background-color: #ffffff;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #001a34;
    line-height: 1.5;
  }

  *, *:after, *:before {
    box-sizing: border-box;
  }
}

.app {
  flex-direction: column;
  display: flex;
  align-items: center;
}